# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install package
      run: |
        python setup.py install
    - name: Install dev-requirements
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --upgrade-strategy=only-if-needed -r dev-requirements.txt
    - name: Version check
      run: |
        python otherfiles/version_check.py
      if: matrix.python-version == 3.7
    - name: Other tests
      run: |
        python -m vulture samila/ setup.py --min-confidence 65 --exclude=__init__.py --sort-by-size
        python -m bandit -r samila -s B311
        python -m pydocstyle --match='(?!test).*\.py' -v
      if: matrix.python-version == 3.7
